@model List<TatakPinoy.Models.Shipment>

@{
    ViewData["Title"] = "Index";
   
}
        
<div class="container">
    <br />
    <form asp-controller="Shipments" asp-action="Index" id="search_form" method="get">
        <div class="col-md-6">  <input class="form-control" type="text" name="SearchString" placeholder="Search" aria-label="Search"></div>
        <br />
        <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit" value="Filter">Search</button>&nbsp;<button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="button" onclick="viewAllClicked();">View All</button>
    </form>


    @if (Model.Count() > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Shipment Number
                    </th>
                    <th>
                        Container Number
                    </th>
                    <th>
                        Total Boxes
                    </th>
                    <th class="text-center">
                        Status
                    </th>
                    <th class="text-center">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipmentNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContainerNo)
                    </td>
                    <td>
                        @item.Consignees?.Sum(x=>x.Qty)
                    </td>
                    <td class="text-center">
                        @item.Status?.StatusDesc @item.DateOn?.ToString("MMM d, yyyy")
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("Update", "Edit", "Shipments", new { id = item.ShipmentId }, new { @class = "btn btn-sm btn-outline-success my-2 my-sm-0" })
                        @Html.ActionLink("Add", "Index", "Consignees", new { shipmentid = item.ShipmentId }, new { @class = "btn btn-sm btn-outline-success my-2 my-sm-0" })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-block alert-danger">
            <i class="ace-icon fa fa-warning red"></i>
            No Records found
        </div>
    }
</div>
<script>
function viewAllClicked() {
  $('#search').val('');
  $('#search_form').submit();
}
</script>
<style>
    .container-fluid {
        width: 100%;
    }
</style>
