@model TatakPinoy.Models.Consignee

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<style>
    import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

    body {
        background-color: #E7E9F5;
        font-family: 'Heebo', sans-serif;
    }

    .card {
        width: 500px;
        border: none;
        border-radius: 20px;
    }

    .form-control {
        border-radius: 7px;
        border: 1.5px solid #E3E6ED;
    }

    input.form-control:focus {
        box-shadow: none;
        border: 1.5px solid #E3E6ED;
        background-color: #F7F8FD;
        letter-spacing: 1px;
    }

    .btn-primary {
        background-color: #5878FF !important;
        border-radius: 7px;
    }

        .btn-primary:focus {
            box-shadow: none;
        }

    .text {
        font-size: 13px;
        color: #9CA1A4;
    }

    .price {
        background: #F5F8FD;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 97px;
    }

    .flex-row {
        border: 1px solid #F2F2F4;
        border-radius: 10px;
        margin: 0 1px 0;
    }

    .flex-column p {
        font-size: 14px;
    }

    span.mb-2 {
        font-size: 12px;
        color: #8896BD;
    }

    h5 span {
        color: #869099;
    }

    media screen and (max-width: 450px) {
        .card

    {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .price {
        border: none;
        margin: 0 auto;
    }
    }
</style>
@if (Model == null)
{
    <div class="container d-flex justify-content-center">
        <div class="card mt-5 p-4">
            <form asp-controller="Home" asp-action="Track">
                <div class="input-group mb-3">
                    <input type="text" name="Track" class="form-control">
                    <div class="input-group-append"><button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button></div>
                </div>
            </form>
        </div>
        </div>

    <div class="container d-flex justify-content-center">
        <div class="alert alert-block alert-danger">
            <i class="ace-icon fa fa-warning red"></i>
            <center>No Records found!</center>
        </div>
    </div>
        }
        else
        {
        <div class="container d-flex justify-content-center">
            <div class="card mt-5 p-4">
                <form asp-controller="Home" asp-action="Track">
                    <div class="input-group mb-3">
                        <input type="text" name="Track" class="form-control" value="@Model.TrackingNo">
                        <div class="input-group-append"><button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button></div>
                    </div>
                </form>
            </div>
        </div>

        if (ViewBag.NotFound != null)
        {
        <span class="alert alert-danger">@ViewBag.NotFound</span>
        }
<div class="container d-flex justify-content-center">
    <div class="card mt-5 p-4 shadow-lg">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <center><b>Delivery Information</b></center><br>
                <b>Shipper:</b> &nbsp; &nbsp; &nbsp; @Model.ShipersName<br>
                <b>Consignee:</b>&nbsp; &nbsp;@Model.ConsigneesName<br>
                <b>Address:</b> &nbsp; &nbsp; &nbsp; @Model.ConsigneesAddr<br>
                <b>Quantity:</b>&nbsp; &nbsp; &nbsp; @Model.Qty
            </li>
            <li class="list-group-item" style="height: 40px; padding: 10px 15px;">
                <center><b>Status Log</b></center><br>
            </li>
            @foreach (var statusHistory in Model.ConsigneeStatusHistories.OrderByDescending(x => x.UpdatedAt))
            {
                if (statusHistory.ConsigneeStatus.ConsigneeStatusDesc == "DELIVERED")
                {
                    <li class="list-group-item">
                        <p style="text-align:left">
                            <b>@statusHistory.ConsigneeStatus.ConsigneeStatusDesc.ToUpper()</b><span style="float:right;">@statusHistory.UpdatedAt.ToString("MMM d, yyyy HH:mm tt")</span><br>Delivery Date: &nbsp; &nbsp; @statusHistory.Consignee.DeliveryDate<br>Received By: &nbsp; &nbsp; @statusHistory.Consignee.RecievedBy
                        </p>
                    </li>
                }
                <li class="list-group-item">
                    <p style="text-align:left">
                        <b>@statusHistory.ConsigneeStatus.ConsigneeStatusDesc.ToUpper()</b><span style="float:right;">@statusHistory.UpdatedAt.ToString("MMM d, yyyy HH:mm tt")</span>
                    </p>
                </li>
            }
            @foreach (var items in Model.Shipment.ShipmentStatusHistory)
            {
                <li class="list-group-item">
                    <p style="text-align:left">
                        <b>@items.Status.StatusDesc.ToUpper() @items.DateOn?.ToString("MMM d, yyyy")</b><span style="float:right;">@items.UpdatedAt.ToString("MMM d, yyyy HH:mm tt")</span>
                    </p>
                </li>
            }

        </ul>
    </div>
</div>
        }



        <script>
            function viewAllClicked() {
                $('#search').val('');
                $('#search_form').submit();
            }
        </script>
        <style>
            .card {
                margin: 0 auto;
                float: none;
                margin-bottom: 10px;
            }

            .form-control-borderless {
                border: none;
            }

                .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
                    border: none;
                    outline: none;
                    box-shadow: none;
                }

            .container-fluid {
                width: 30%;
            }
        </style>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
