@model IEnumerable<TatakPinoy.Models.Message>

@{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    @if (Model.Count() > 0)
    {
        <h3>Message List</h3>
        <div class="container">
            <br />
            <br />
            <br />
            <table class="table" style="">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContactNo)
                        </th>
                        <th>
                            Messages
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderByDescending(x=>x.CreatedAt))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactNo)
                            </td>
                            <td style="width: 350px !important;">
                                <span style="word-break: break-word !important;">
                                    @Html.DisplayFor(modelItem => item.Msg)
                                </span>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger" href="@Url.Action("Delete","Messages", new { id =  item.Id })" , onclick="return confirm('Are you sure you want to delete this?');">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <br />
        <br />
        <div class="alert alert-block alert-danger">
            <i class="ace-icon fa fa-warning red"></i>
            No Records found
        </div>
    }
</div>

