@model TatakPinoy.Models.Consignee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Consignee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrackingNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrackingNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipersName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipersName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipersNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipersNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsigneesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsigneesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsigneesAddr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsigneesAddr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsigneesNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsigneesNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickupDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickupDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipment.ShipmentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ConsigneeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
