@model IEnumerable<TatakPinoy.Models.Consignee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<p>
    <a asp-action="Create" asp-route-shipmentId="@ViewBag.ShipmentId">New Entry</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tracking Number
            </th>
            <th>
                Shipper's Name
            </th>
            <th>
                Shipper's Number
            </th>
            <th>
                Consignee's Name
            </th>
            <th>
                Consignee's Address
            </th>
            <th>
                Consignee's Number
            </th>
            <th>
                Quantity
            </th>
            <th>
                Agent
            </th>
            <th>
                Pick-up Date
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Shipment)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackingNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipersName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipersNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsigneesName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsigneesAddr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsigneesNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgentsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickupDate)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Shipment.ShipmentId)
                </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ConsigneeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ConsigneeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ConsigneeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
