@model IEnumerable<TatakPinoy.Models.Consignee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
        <br />
        <form class="form-inline float-right" asp-controller="Consignees" asp-action="Search" id="search_form">
            <div class="col-md-6"> <input class="form-control mr-sm-2" type="text" name="SearchString" placeholder="Search" aria-label="Search" id="search"></div>
            <br />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Filter">Search</button>&nbsp;<button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="viewAllClicked();">View All</button><a class="btn btn-outline-success my-2 my-sm-0 bx-pull-right" href='javascript:history.go(-1)'>Back</a>
            <a class="btn btn-outline-success my-2 my-sm-0 bx-pull-right" asp-action="Create" asp-route-shipmentId="@ViewBag.ShipmentId">New Entry</a>
        </form>
        @if (Model.Count() > 0)
        {
     
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Tracking Number
                        </th>
                        <th>
                            Shipper's Name
                        </th>
                        <th>
                            Shipper's Number
                        </th>
                        <th>
                            Consignee's Name
                        </th>
                        <th>
                            Consignee's Address
                        </th>
                        <th>
                            Consignee's Number
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Agent
                        </th>
                        <th>
                            Pick-up Date
                        </th>
                        <th>
                            Status
                        </th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrackingNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShipersName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShipersNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConsigneesName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConsigneesAddr)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConsigneesNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Qty)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AgentsName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PickupDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConsigneeStatus.FirstOrDefault().ConsigneeStatusDesc)
                            </td>
                            <td>
                                <a class="btn  btn-outline-primary " asp-action="Edit" asp-route-id="@item.ConsigneeId"> Edit   </a>
                                @*<a asp-action="Details" asp-route-id="@item.ConsigneeId">Details</a> |*@
                            </td>
                            <td>
                                <a class="btn  btn-outline-danger " asp-action="Delete" asp-route-id="@item.ConsigneeId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-block alert-danger">
                <i class="ace-icon fa fa-warning red"></i>
                No Records found
            </div>
        }
    </div>
    <script>
        function viewAllClicked() {
            $('#search').val('');
            $('#search_form').submit();
        }
    </script>
    <style>
        .container-fluid {
            width: 85%;
        }
    </style>
